* {
    margin: 0%;
    padding: 0%;
}

body {
}

header, footer {
    width: 100%;
    padding: 40px 0px;
    background-color: crimson;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h2 {
    /* float flutuar para um lado! */
    float: left;
    margin-left: 20px;
}

nav {
    float: right;
    margin-right: 20px;
}

nav a {
    color: white;

    /* text-decoration decoração do texto */
    text-decoration: none;
}

#banner {
    width: 80%;
    height: 300px;
    /* bg-img - chama a imagem */
    background-image: url(../images/paisagem1.jpg);
    /* bg-repeat - configura repetição */
    background-repeat: no-repeat;
    /* bg-size - controla tamanho */
    background-size: cover;
    /* bg-position - posição da imagem */
    background-position: center;
    margin: 20px auto;
    text-align: center;
    line-height: 300px;
}

footer {
    position: absolute;
    bottom: 0%;
}

#sobreNos {
    background-color: rgb(166, 185, 129);
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 20px 20px 30px grey;
    text-align: justify;
    color: white;
}

#sobreNos h1 {
text-align: center;
}

#sobreNos img {
    width: 50%;
    margin: 25px 27%;
    border-radius: 20px;
}